.brand {
    color:white;
    margin-left: 15px;
}

.buttonPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
}

.button {
    padding: 10px 20px;        /* Adjust padding to control the size of the button */
    border-radius: 50px;       /* Large border-radius to create the pill shape */
    border: 2px solid #7d7d7d; /* Optional: Border style, adjust color as needed */
    background-color: none; /* Button background color */
    color: white;              /* Text color */
    font-size: 16px;           /* Font size for the text */
    cursor: pointer;          /* Change cursor to pointer on hover */
    text-decoration: none;     /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    
}

.button:hover {
    background-color: #7d7d7d; /* Optional: Change background color on hover */
}

.button:active {
    color: red;
}

.bg {
    background-color: #101010;
}