:root h1{
  background-color: #101010;
  color: #f2f2f2;
  min-height: 100vh; /* To cover the entire viewport */
  padding: 20px;
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}
